@font-face {
  font-family: 'Museo 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 300'), url('../../fonts/Museo300.otf') format('otf');
}

@font-face {
  font-family: 'Museo 500';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 500'), url('../../fonts/Museo500.otf') format('otf');
}

@font-face {
  font-family: 'Museo 700';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 700'), url('../../fonts/Museo700.otf') format('otf');
}